{% extends "layout.html" %}

{% block includes %}
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-animate.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>  
  <script type="text/javascript" src="/javascripts/firebase.js"></script>
  <script type="text/javascript" src="/javascripts/exercises.js"></script>
{% endblock %}

{% block title %}Site Editor{% endblock %}

{% block content %}

<div class="container">

	<div class="row">		
		<div class="col-xs-12">
			<h1>#kendorphins site editor</h1>
		</div>
	</div>

	<div ng-view></div>

</div>
 
{% endblock %}