<html>
    <head>
	    
        <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
		<!-- TO DO: ADD META TAGS -->
	    
        <title>{{ firebase.title }}</title>
        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,600,700' rel='stylesheet' type='text/css'>
		<link href='/stylesheets/style.css' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-77013063-1', 'auto');
		  ga('send', 'pageview');
		
		</script>
    </head>
    <body>
	    
	    <div class="row">
		    <div class="col-sm-3 column">
			    <div class="about">
					<p class="about">{{ firebase.bio }}</p>
			    </div>
			    <div class="training">
				    {% for location in firebase.locations %}
						<h2>{{ location.name }}</h2>
						<p class="description">{{ location.description }}</p>
						<p><a class="btn btn-default" href="{{ location.url }}" target="_blank">Kenneth's <b>{{ location.name }}</b> Schedule</a></p>
					{% endfor %}
			    </div>
			    <div class="links">
					<h2>Follow Kenneth</h2>
				    {% for link in firebase.follow %}
						<span class="social">
							<a href="{{ link.url }}" target="_blank"><i class="fa fa-{{ link.icon }} fa-3x" aria-hidden="true"></i></a>
						</span>
					{% endfor %}
			    </div>
		    </div>
		    <div class="col-sm-3 col-sm-offset-6 column column-right">
			    <div class="press">
					<h2>Press</h2>
				    {% for article in firebase.press %}
						<a href="{{ article.url }}" target="_blank"><img src="{{ article.image_url }}" class="img-responsive"></a>
						<p class="press-title"><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></p>
					{% endfor %}
			    </div>
				<div class="testimonials">
					<h2>From Rate Your Burn...</h2>
					<p>
						<i class="fa fa-quote-left fa-2x fa-pull-left" aria-hidden="true"></i>
						{{ firebase.testimonials[0] }}
					</p>
				</div>
				<div class="instagram">
					<h2>Kenneth on Instagram</h2>
					{{ firebase.instagram_widget | safe }}
				</div>
		    </div>
	    </div>
    </body>
</html>
