<!DOCTYPE html>
<html ng-app="contact" lang="en">
	<head>
	    
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<meta property="og:url"                content="http://kendorphins.com" />
		<meta property="og:type"               content="website" />
		<meta property="og:title"              content="Kenneth Ferrer - NYC Success Coach" />
		<meta property="og:description"        content="I created my Success Coaching Practice because I believe it is my calling to work with, empower, inspire, and motivate high-potential executives, creatives, and entrepreneurs. I know first-hand how magnificent and vast human potential is; we all have unique and profound gifts, but whether or not we choose to develop and use them is up to us. I help my clients get clear on what they want, set up individualized success plans with emphasis on both tangible and intangible goal-based outcomes, and do both the internal and external work that is required to thrive in their lives." />
		<meta property="og:image"              content="http://kendorphins.com/images/kenneth-front-steps-smiling.jpg" />
		
		<link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>

		<title>Kenneth Ferrer - NYC Success Coach</title>

		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,800" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
		<link href='/stylesheets/style.css' rel='stylesheet' type='text/css'>
		<link href="/fonts/caslon/stylesheet.css" rel="stylesheet" href="/fonts/caslon/stylesheet.css" type="text/css" charset="utf-8" />

		<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-animate.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>  
		<script src="/javascripts/angular-recaptcha.js"></script>
		<script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>

		<script src="/javascripts/contact.js"></script>
		
		<script>

		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	
		  ga('create', 'UA-77013063-1', 'auto');
		  ga('send', 'pageview');
		
		</script>
		
		<!-- Facebook Pixel Code -->
		<script>
			!function(f,b,e,v,n,t,s)
			{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
			n.callMethod.apply(n,arguments):n.queue.push(arguments)};
			if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
			n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t,s)}(window,document,'script',
			'https://connect.facebook.net/en_US/fbevents.js');
			 fbq('init', '545506729228130'); 
			fbq('track', 'PageView');
		</script>
		<noscript>
			<img height="1" width="1" src="https://www.facebook.com/tr?id=545506729228130&ev=PageView&noscript=1"/>
		</noscript>
		<!-- End Facebook Pixel Code -->

		<base href="/">

    </head>
    <body ng-controller="contactCtrl as ctrl" recaptcha-key="{{ recaptcha_key }}">

			<header>
				<div class="container">
					<div class="row">
						<div class="col-sm-9"><img src="/images/kendorphins-infinity-logo.png" class="logo" /></div>
						<div class="col-sm-3 social">
							<span class="social-link"><a href="https://www.facebook.com/ken.ferrer.946" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a></span>
							<span class="social-link"><a href="https://www.instagram.com/kendorphins/" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></span>
							<span class="social-link"><a href="#contact"><i class="fa fa-envelope-square" aria-hidden="true"></i></a></span>
					</div>
				</div>
			</header>
			
			<!-- WHY GET A COACH -->
			<section>
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div><img class="img-responsive bordered" src="/images/kenneth-front-steps-smiling.jpg"/></div>
						</div>
						<div class="col-sm-8">
							
							<div class="greybox rounded">

								<h3>Why get a coach?</h3>
								<p>I created my Success Coaching Practice because I believe it is my calling to work with, empower, inspire, and motivate high-potential executives, creatives, and entrepreneurs.</p>
								<p>I know first-hand how magnificent and vast human potential is; we all have unique and profound gifts, but whether or not we choose to develop and use them is up to us.</p>
								<p>I help my clients get clear on what they want, set up individualized success plans with emphasis on both tangible and intangible goal-based outcomes, and do both the internal and external work that is required to thrive in their lives.</p>
								
								<p>Success Coaching is a powerful fusion of business coaching, life coaching, and health coaching. Kenneth strives to work with his clients to significantly increase the quality of their lives.</p>
								
								<p>&nbsp;</p>
	
								<h3>Featured On</h3>
								
								<ul class="network-logos">
									<li><img class="network-logo" src="/images/logos/abc.png" /></li>
									<li><img class="network-logo" src="/images/logos/cbs.png" /></li>
									<li><img class="network-logo" src="/images/logos/nbc.png" /></li>
									<li><img class="network-logo cw" src="/images/logos/cw.png" /></li>
								</ul>
								
							</div>

						</div>
					</div>
				</div>
			</section>
			
			<!-- KICKSTART -->
			<section id="kickstart">
				<div class="container">
					<div class="row redbox rounded">
						<div class="col-sm-8 col-sm-offset-2 col-xs-12">

							<h2>Kickstart Your Resolutions</h2>
							
							<video class="movie" src="/video/resolutions-long-181029.mp4" controls></video>
							<p>Have you ever set a new years resolution, only to become overwhelmed by it, causing you to give up on it a few days or weeks in to the new year? After seeing so much struggle and frustration around this, I decided to create a course designed to help people actually follow through with their new years resolutions. This course will help you become clear about what you want, set the foundation for how to achieve success, cultivate habits that will support you, and lead you to success in ANY area of your life.</p>
							<p>This 4-week webinar course occurs every <b>Tuesday</b>, on <b>January 1st, 8th, 15th, and 22nd</b>. The online sessions begin at <b>7:00pm</b>. There is 60 minutes of presentation followed by 30 minutes of Q&A.</p>
							<p>I will give you the information, tools, accountability you need to succeed at your new years resolution.</p>

							<p align="center"><a href="http://bit.ly/kendorphins-1901" target="_blank" class="btn btn-default btn-lg">SIGN UP</a></p>

						</div>
					</div>
				</div>
			</section>
			
			
			<!-- NEWSLETTER -->
			<section>
				<div class="container">
					<div class="row greybox rounded">
						<div class="col-sm-8 col-sm-offset-2 col-xs-12">
							
							<h3>weekly kendorphins ::</h3>
							
							<div class="col-sm-2 hidden-sm hidden-xs"><img src="/images/head-w-heart-red.png" class="img-responsive img-head-heart"/></div>

							<div class="col-sm-10">
	
							<!-- Begin Mailchimp Signup Form -->
							<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
							<style type="text/css">
								#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
								/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
								   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
							</style>
							<div id="mc_embed_signup">
								<form action="https://kendorphins.us17.list-manage.com/subscribe/post?u=d4b41e3107b911520eeedb79d&amp;id=bf0e08f03d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
							    <div id="mc_embed_signup_scroll">
										<p class="helper">
											Sign up for Kenneth's newsletter to hear news and get a weekly mindset.</br>
											Your email will never be shared and we won't flood your inbox.
										</p>
										<input type="hidden" value="website-home" name="SOURCE" />
										<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required style="margin: 20px 0 0;" />
										
								    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
								    <div style="position: absolute; left: -5000px;" aria-hidden="true">
									    <input type="text" name="b_d4b41e3107b911520eeedb79d_bf0e08f03d" tabindex="-1" value="">
									  </div>
								    <div class="clear">
									    <button type="submit" class="btn btn-default" name="subscribe" id="mc-embedded-subscribe">subscribe</button>
									  </div>
										
							    </div>
								</form>
							</div>
							<!--End mc_embed_signup-->
							
							</div>

							<div class="col-sm-2 hidden-md hidden-lg" align="center"><img src="/images/head-w-heart-red.png" class="img-responsive img-head-heart"/></div>

						</div>
					</div>
				</div>
			</section>
			
			
			<!-- MINDSET -->
			<section>
				<div class="container">
					<div class="row charcoalbox rounded">
						<div class="col-sm-8 col-sm-offset-2 col-xs-12">
							
							<div class="col-sm-10">

								<h3>weekly mindset ::</h3>
								
								<p class="mindset">
									{% set m = firebase.mindsets | last %}
									{{ m.mindset }}
								</p>
								
							</div>
							
							<div class="col-sm-2 hidden-xs hidden-sm flex-wrapper" align="center"><img src="/images/brain-rewire.png" class="img-responsive img-head-heart"/></div>
							<div class="col-sm-2 hidden-md hidden-lg" align="center"><img src="/images/brain-rewire.png" class="img-responsive img-head-heart"/></div>
						
						</div>
					</div>
				</div>
			</section>

			
			<!-- IN THE NEWS -->
			<section>
				<div class="container">
					<div class="row redbox rounded-top">
						<div class="col-xs-12">
							<h3>Kenneth in the News</h3>
						</div>
					</div>
					<div class="row greybox rounded-bottom">
		
						{% for key, val in firebase.press|reverse %}
							{% set item = firebase.press[val] %}
								<div class="col-sm-4"><div class="news-item">
									{% if item.type == 'video' %}
										<video class="movie" src="{{ item.src }}" controls></video>
									{% else %}
										<div><a href="{{ item.url }}" target="_blank"><img src="{{ item.image_url }}" class="img-responsive"/></a></div>
									{% endif %}				
									<h4><a href="{{ item.url }}" target="_blank">{{ item.title }}</a></h4>
									<p class="more-info">{{ item.description | raw }}</p>
								</div></div>
						{% endfor %}

					</div>
				</div>
			</section>

			<!-- KENNETHS STORY -->
			<section id="kenneths-story">
				<div class="container">
					<div class="row redbox rounded">

						<div class="col-sm-4">
							<h3>Kenneth's Story</h3>
							<p><img class="img-responsive" src="/images/kenneth-front-steps-serious.jpg" /><p>
						</div>

						<div class="col-sm-8">
							<p>For 12 years, I followed a successful path in baseball moving from achievement to achievement. I was a talented and hard working athlete, and my journey took me from Little League all the way up to professional baseball in the MiLB. There always seemed to be a logical next step for me within baseball, but after a long period of dissatisfaction and a feeling of disconnection from myself, I realized that I wanted to pursue something else, and I decided to step away from baseball in 2011. 2011 was a chaotic year&hellip; It started with some high highs and ended with some low lows: I graduated from Elon University, I played in my first season of professional baseball, I came out as gay, I played in my last season of professional baseball, I was disowned, I experienced a painful breakup, and found myself homeless. I essentially went from feeling like I had the world in my hands, to feeling like I had no direction, no purpose, and most notably, no value.</p>
							<p>During my week-long stint of homelessness, I remember staring out onto the train tracks at the Christopher Street 1 Train Station in New York City, and feeling as if my life was over. I noticed a large New York City rat, the largest I had ever seen, running up the train track with a large piece of food in its mouth. I had an epiphany. I thought: “If this creature of lesser intelligence than I can not only survive, but thrive, under these same conditions that I am in, then what the hell am I doing sitting here feeling sorry for myself?” That rat was the spark that I needed to light the fire that has turned into my burning resolve now. I reached out to a friend for help, and although it was a long-shot, I received it.</p> 
							<p>I discovered my own personal voice and message teaching in the group fitness industry at Barry’s Bootcamp, Flywheel Sports, and PROJECT by Equinox, while simultaneously starting my own private training business combining fitness, mindset, and spirituality. My private training business evolved into my Success Coaching business, where I combine my BA in Psychology, my experience as a Division 1 College and professional athlete, my training credentials through the National Academy of Sports Medicine, over a decade of spiritual and psychological research, my credentials as a graduate of iPEC coaching school, and my experience as an entrepreneur in New York City.</p>
						</div>

					</div>
				</div>
			</section>

			<!-- CONTACT -->
			<section>
				<div class="container">
					<div class="row charcoalbox rounded-top">
						<div class="col-sm-8 col-sm-offset-2">
							<h3>Contact Kenneth</h3>
						</div>
					</div>
					<div class="row greybox rounded-bottom">
						<div class="col-sm-8 col-sm-offset-2">

							<div ng-show="ctrl.mode == 'thanks' && ctrl.type == 'contact'" class="alert alert-danger">
								<div><b>Thanks</b> for reaching out. I'll get back to you shortly.</div>
							</div>
	
							<form name="contactForm" id="contact-form">
								
								<p class="helper">I'll never share your email address with anyone.</p>
								
								<div class="form-group">
									<label for="contactName">Your Name</label>
									<input type="text" class="form-control" id="person" name="name" placeholder="required" ng-model="ctrl.name" required>
								</div>
								<div class="form-group">
									<label for="contactEmail">Email address</label>
									<input type="email" class="form-control" id="contactEmail" name="email" placeholder="required" ng-model="ctrl.email" required>
								</div>
								<div class="form-group">
									<label for="contactNote">Note (optional)</label>
									<textarea id="contactNote" rows="3" class="form-control" ng-model="ctrl.note"></textarea>
								</div>
								<div vc-recaptcha key="ctrl.publicKey" ng-model="ctrl.myRecaptchaResponse" on-success="ctrl.setResponse(response)"></div>
							
								<p>
									<button type="button" class="btn btn-default" ng-click="ctrl.sendEmail()" ng-disabled="contactForm.$invalid"><i class="fa fa-envelope"></i> Send</button>
								</p>
		
							</form>

						</div>
					</div>
				</div>
			</section>

			<footer>
				<div class="container">&copy; KENDORPHINS</div>
			</footer>

  </body>
</html>
