<!DOCTYPE html>
<html ng-app="contact" lang="en">
	<head>
	    
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<meta property="og:url"                content="http://kendorphins.com/kickstart-your-resolutions" />
		<meta property="og:type"               content="website" />
		<meta property="og:title"              content="Kickstart Your Resolutions - Kenneth Ferrer" />
		<meta property="og:description"        content="I created my Success Coaching Practice because I believe it is my calling to work with, empower, inspire, and motivate high-potential executives, creatives, and entrepreneurs. I know first-hand how magnificent and vast human potential is; we all have unique and profound gifts, but whether or not we choose to develop and use them is up to us. I help my clients get clear on what they want, set up individualized success plans with emphasis on both tangible and intangible goal-based outcomes, and do both the internal and external work that is required to thrive in their lives." />
		<meta property="og:image"              content="http://kendorphins.com/images/kenneth-front-steps-smiling.jpg" />
		
		<link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>

		<title>Kenneth Ferrer - NYC Success Coach - Kickstart Your Resolutions</title>

		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,800" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
		<link href='/stylesheets/style.css' rel='stylesheet' type='text/css'>
		<link href="/fonts/caslon/stylesheet.css" rel="stylesheet" href="/fonts/caslon/stylesheet.css" type="text/css" charset="utf-8" />

		<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-animate.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>  
		<script src="/javascripts/angular-recaptcha.js"></script>
		<script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>

		<script src="/javascripts/contact.js"></script>
		
		<script>

		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	
		  ga('create', 'UA-77013063-1', 'auto');
		  ga('send', 'pageview');
		
		</script>
		
		<!-- Facebook Pixel Code -->
		<script>
			!function(f,b,e,v,n,t,s)
			{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
			n.callMethod.apply(n,arguments):n.queue.push(arguments)};
			if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
			n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t,s)}(window,document,'script',
			'https://connect.facebook.net/en_US/fbevents.js');
			 fbq('init', '545506729228130'); 
			fbq('track', 'PageView');
		</script>
		<noscript>
			<img height="1" width="1" src="https://www.facebook.com/tr?id=545506729228130&ev=PageView&noscript=1"/>
		</noscript>
		<!-- End Facebook Pixel Code -->

		<base href="/">

    </head>
    <body ng-controller="contactCtrl as ctrl" recaptcha-key="{{ recaptcha_key }}">

		<div id="webinar" class="section container-fluid" class="hidden-xs">
			
			<div class="row subhead top">
				<div class="left"><a class="silent" href="/">kendorphins.</a></div>
				<div class="right">
					<div class="social-links">
						<div class="social"><a href="https://www.facebook.com/ken.ferrer.946" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a></div>
						<div class="social"><a href="https://www.instagram.com/kendorphins/" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></div>
						<div class="social"><a href="#contact"><i class="fa fa-envelope-square" aria-hidden="true"></i></a></div>
					</div>
				</div>
			</div>
			
			<div class="row subhead black">
				<div class="textbox">
							
					<h1>Kickstart Your Resolutions</h1>
					<h2>with <b>Kenneth Ferrer</b></h2>
					
					<p align="center">
						<video class="movie" src="/video/resolutions-long-181029.mp4" controls></video>
					</p>
							
					<h3>I was done sitting on the sidelines, watching people fail at their new years resolutions</h3>
							
					<p>That is why I created this course. I combined my experience in business & life coaching, psychology, professional baseball, and health & fitness to create a course that will help you get clear about what you want, set a foundation for success, cultivate habits for your continuing success, and strive for more. I want to help <b>YOU</b> succeed in your New Years Resolution, and give you the tools to succeed in your future goals.</p>
							
					<h3>I love watching people get really inspired at the beginning of the new year; I find that watching someone become inspired is in itself inspirational.</h3>
					<p>But what happens when the inspiration, that is, the initial source of change-driven energy runs out? How do we become and stay motivated when we are in the midst of our goals? How do we overcome adversity when it gets in our way? What goals are realistic? I address all of these questions, and help you put your new years resolution into the context of your entire life.</p>
							
					<h3>In this course:</h3>
							
					<ul>
						<li>We will meet <b>weekly</b> for a 90 minute webinar which includes 60 minutes of content, and 30 minutes of Q&A. All webinar content will be available to download after class.</li>
						<li>We will work through <b>effective</b> tools to help you set your goals, set powerful habits into place, reach your goals, and move beyond them. These tools include small homework assignments before the course starts and in between webinars.</li>
						<li>We will <b>address</b> what gets in the way, how to deal with failure, and how to handle adversity.</li>
						<li>We will stay <b>accountable</b> to ourselves and each other through a private, members only facebook group.</li>
						<li>We will experience first-hand that when we follow through with our commitments, life opens up in a significant way.</li>
					</ul>
							
					<div class="row webinar-info">
						<div class="col-sm-4 col-sm-offset-2">
							<div>The class meets online at</div>
							<div class="time">7:00pm EST</div>
						</div>
						<div class="col-sm-4">
							<div>The course costs</div>
							<div class="cost">$199</div>
						</div>
						<div class="col-sm-8 col-sm-offset-2">
							<div>Every Tuesday for 4 weeks</div>
							<div class="dates">Jan 1st, 8th, 15th, and 22nd</div>
						</div>
					</div>
							
					<div class="call-to-action" align="center">
						<p><a href="http://bit.ly/kendorphins-1901" target="_blank">http://bit.ly/kendorphins-1901</a></p>
						<p>
							<a href="http://bit.ly/kendorphins-1901" target="_blank" class="btn btn-default">
								Sign up for change</br>
								<i class="fas fa-hands-helping fa-2x"></i>
							</a>
						</p>
					</div>

				</div>	
			</div>
		
			<div class="row subhead copyright">
				<p>&copy; kendorphins</p>
			</div>
		
		</div>

  </body>
</html>
