.cell-name		{ line-height: 30px !important; }
.table button	{ padding: 2px 12px !important; }

.container		{ padding: 0 0 4em; }

h1				{ font-weight: 100; letter-spacing: 1px; border-bottom: 1px solid #ccc; margin: 1em 0 1em; padding: 0 0 20px; }
label			{ font-weight: 100; letter-spacing: 1px; }
body			{ background: rgba(245, 250, 255, 0.2); }

.table>tbody>tr>td	{ border: none; }
.table tr + tr 		{ border-top: 1px dotted #ccc; }
.table tfoot		{ font-weight: bold; }

#login button		{ width: 200px; height: 60px; }